venv/
__pycache__/
*.pyc
# 忽略 requirements.txt
requirements.txt

# 忽略 JetBrains IDE 的个人配置
.idea/workspace.xml
.idea/tasks.xml
.idea/dictionaries
.idea/usage.statistics.xml
.idea/sshConfigs.xml

# 允许版本控制共享配置（如果团队需要）
!.idea/modules.xml
!.idea/vcs.xml
!.idea/runConfigurations/